.hero {
  text-align: center;
  background-size: cover;
  height: 400px;
  padding: 118px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero-bgc.jpg');
  background-color: #2f303a;
  @include mq(mob) {
  }
  @include mq(desc) {
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
  }
}
.hero__title {
  justify-content: center;
  text-transform: uppercase;
  color: var(--main-white);
  text-transform: uppercase;
  margin: 0 auto 30px;
  max-width: 360px;
  @include mq(mob-only) {
    @include fonts(26px, 900, 1.62, 0.06em);
  }

  @include mq(desc) {
    @include fonts(44px, 900, 1.4, 0.06em);
    max-width: 696px;
  }
}
