.logo {
  @include fonts(26px, 700, 1.2, null);
  font-family: 'Raleway';

  &__primary {
    color: var(--accent-color);
  }

  &__secondary--dark {
    color: var(--title-color);
  }

  &__secondary--white {
    color: var(--main-white);
  }
}
